<!-- <tr>
  <%# fields_for "inmueble[documentos_attributes][]", @inmueble.documentos.build do |f| %>
  <%# f.fields_for :documentos do |f| %>
  <td>
    <%# f.label :documento,  "Archivo" %>
  </td>
</tr> -->
<td colspan="2">
  <%= f.label :documento,  "Doc #{doc_type}" %>
</td>
<td colspan="2">
  <%= f.file_field :documento, :class => :upload, :accept=> "*"%>
</td>
<td>
  <%= f.hidden_field(:descripcion, value: "#{doc_type}", :class => "form-control") %>
</td>
  <!--<td><%# link_to image_tag("remove.png", :border => 0), "#", :class => "remove_file" %></td>-->
  <%# end %>
