<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "bannerReportes.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Buscador</h1>
              <p>Zona de reportes donde puedes filtrar la información a mostrar</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Ir  al  buscador</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "seguridad.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "casa.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><</a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">></a>
    </div><!-- /.carousel -->

<!-- <center>
    <h2>
        <%# link_to 'Buscador', "#", :class => "btn btn-primary btn-lg btn-block btn-buscador" %>
    </h2>
</center>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="well">
                <h1>Preguntas frecuentes</h1>
                <ul>
                    <li>Locales entre 100 y 250 metros en Bello</li>
                    <li>Locales disponibles en Sabaneta</li>
                    <li>Clientes se le han ofrecido inmuebles</li>
                    <li>Último seguimiento al cliente</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div> -->
<!-- <footer>
    <div class="panel-footer">
      <center>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <br />
        Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional</a>.
      </center>
    </div>
</footer>
 -->