<center>
    <h2>
        <%= link_to 'Buscador', "#", :class => "btn btn-primary btn-lg btn-block btn-buscador" %>
    </h2>
</center>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="well">
                <h1>Preguntas frecuentes</h1>
                <ul>
                    <li>Locales entre 100 y 250 metros en Bello</li>
                    <li>Locales disponibles en Sabaneta</li>
                    <li>Clientes se le han ofrecido inmuebles</li>
                    <li>Último seguimiento al cliente</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<footer>
    <div class="panel-footer">
      <center>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <br />
        Este obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional</a>.
        <!-- <br/>
        J. Mateo Vidal B.
        <br/>
        <%# link_to "GitHub", "https://github.com/jvidalba1", :class => "btn btn-link", :target => "_blank" %> |
        <%# link_to "Twitter", "https://twitter.com/jvidalba", :class => "btn btn-link", :target => "_blank" %> |
        <%# link_to "Facebook", "https://facebook.com/jvidalba", :class => "btn btn-link", :target => "_blank" %> |
        <%# link_to "Linkedin", "http://www.linkedin.com/in/jvidalba", :class => "btn btn-link", :target => "_blank" %> |
        <%# link_to "Aboutme", "http://about.me/jvidalba", :class => "btn btn-link", :target => "_blank" %>
        -->
      </center>
    </div>
</footer>
