// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer{
  position: absolute;
  // bottom: 0;
  left: 50%;
  margin-left: -50%;
  width: 100%;

}

hr {
  border-top: 1px solid #3c3b3b
}

.mandatory:after {
  content: " * ";
  color: red;
}
