.pdf_report {

  .first_page {
    width: 100%;

    .logo_wbr {
      width: 100%;
    }

    .info_target {
      text-align: center;
      margin-top: 100;
    }

  }

  .second_page {
    width: 100%;

    .header {
      margin-top: 150px;

      .info_header {
        position: absolute;
        z-index:1;
        font-size: 25;
        margin-top: 25px;
        margin-left: 50px;

        p {
            display: inline;
            padding-right: 80px;
            padding-left: 80px;
        }
      }
    }

    .footer {
      margin-top: 175px;

      .info_incharge {
        // traslapar imagen del header
        position: absolute;
        z-index:1;
        margin-top: 145px;
        margin-left: 450px;

        p {
          margin: 0;
        }
      }

      .bottom_img {
        // traslapar imagen del header
        // position: absolute;
        // z-index:1;
      }
    }

    .summary_list {
      margin-left: 150;
      margin-top: 50;
      font-size: 25;
    }

  }

  .third_page {
    width: 100%;
    // background-color: blue;

    .header {
      margin-top: 0px;

      .info_header {
        position: absolute;
        z-index:1;
        font-size: 25;
        margin-top: 25px;
        margin-left: 50px;

        p {
            display: inline;
            padding-right: 80px;
            padding-left: 80px;
        }
      }
    }

    .footer {
      margin-top: 368px;

      .info_incharge {
        // traslapar imagen del header
        position: absolute;
        z-index:1;
        margin-top: 145px;
        margin-left: 450px;

        p {
          margin: 0;
        }
      }
    }

    .page_content {
      position: absolute;
      z-index:1;

      margin-left: 10%;
      margin-top: -50px;

      table tr td {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

  }

  .fourth_page {
    width: 100%;
    // background-color: blue;

    .header {
      margin-top: 0px;

      .info_header {
        position: absolute;
        z-index:1;
        font-size: 25;
        margin-top: 25px;
        margin-left: 50px;

        p {
            display: inline;
            padding-right: 80px;
            padding-left: 80px;
        }
      }
    }

    .footer {
      margin-top: 368px;

      .info_incharge {
        // traslapar imagen del header
        position: absolute;
        z-index:1;
        margin-top: 145px;
        margin-left: 450px;

        p {
          margin: 0;
        }
      }
    }

    .page_content {
      position: absolute;
      z-index:1;

      margin-left: 20%;
      margin-top: -50px;
    }

  }

  .fiveth_page {
    width: 100%;
    // background-color: blue;

    .header {
      margin-top: 0px;
    }

    .footer {
      margin-top: 368px;

      .info_incharge {
        // traslapar imagen del header
        position: absolute;
        z-index:1;
        margin-top: 145px;
        margin-left: 450px;

        p {
          margin: 0;
        }
      }
    }

    .page_content {
      position: absolute;
      z-index:1;

      margin-top: -40px;
      margin-left: 5%;
      margin-right: 5%;

      table tr {
        .title {
          font-size: 25;
          color: black;
        }
        td {
          padding: 3px;
          text-align: justify;
          text-justify: inter-word;
        }
      }
    }
  }

  .sixth_page {
    width: 100%;

    .header {
      margin-top: 0px;
    }

    .footer {
      margin-top: 368px;

      .info_incharge {
        // traslapar imagen del header
        position: absolute;
        z-index:1;
        margin-top: 145px;
        margin-left: 450px;

        p {
          margin: 0;
        }
      }
    }

    .page_content {
      position: absolute;
      z-index:1;

      margin-left: 2%;
      margin-right: 2%;
      margin-top: -50px;
    }
  }

  .page-break { display:block; clear:both; page-break-after:always; }
}
