.pdf_report {
  // background-color: red;

  .first_page {
    width: 100%;

    .logo_wbr {
      width: 100%;
      text-align: center;
    }

    .info_target {
      text-align: center;
      margin: 20;
    }

  }
}
