.pdf_report {
  // background-color: red;
  // .page_content {
  //   // background-color: yellow;
  //   width: 100%;
  //   height: 360;
  // }

  .first_page {
    width: 100%;
    // background-color: red;

    .logo_wbr {
      width: 100%;
    }

    .info_target {
      text-align: center;
      margin-top: 100;
    }

  }

  .second_page {
    width: 100%;
    // background-color: blue;

    .header {
      margin-top: 150px;
    }

    .footer {
      margin-top: 175px;

      .info_incharge {
        // traslapar imagen del header
        position: absolute;
        z-index:1;
        margin-top: 145px;
        margin-left: 450px;

        p {
          margin: 0;
        }
      }

      .bottom_img {
        // traslapar imagen del header
        // position: absolute;
        // z-index:1;
      }
    }

    .summary_list {
      margin-left: 150;
      margin-top: 50;
      font-size: 25;
    }

  }

  .third_page {
    width: 100%;
    // background-color: blue;

    .header {
      margin-top: 0px;

      .info_header {
        position: absolute;
        z-index:1;
        font-size: 25;
        margin-top: 25px;
        margin-left: 50px;

        p {
            display: inline;
            padding-right: 80px;
            padding-left: 80px;
        }
      }
    }

    .footer {
      margin-top: 368px;
    }

    .page_content {
      position: absolute;
      z-index:1;

      margin-left: 10%;
      margin-top: -50px;

      table tr td {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    }

  }

  .fourth_page {
    width: 100%;
    // background-color: blue;

    .header {
      margin-top: 0px;
    }

    .footer {
      margin-top: 368px;
    }

    .page_content {
      position: absolute;
      z-index:1;

      margin-left: 20%;
      margin-top: -50px;
    }

  }
}
