<p>Hola <%= @resource.email %>!</p>

<p>Alguién ha enviado una petición para cambiar tu contraseña, para continuar puedes hacer clic en el link de abajo.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tu no solicitaste este servicio, por favor ignora este email.</p>
<p>Tu contraseña no se cambiará hasta que accedas al link de arriba y cambies tu contraseña.</p>
