<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada por excesivos intentos fallidos de inicio de sesión.</p>

<p>Clic en el link de abajo para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear', unlock_url(@resource, :unlock_token => @token) %></p>
