<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= wicked_pdf_stylesheet_link_tag "application" %>
<div class="pdf_report">
    <%= wicked_pdf_image_tag "header_pdf.png" %>
    <%= yield %>
    <h2>Mateo</h2>
    <h2>Mateo</h2>
    <h2>Mateo</h2>
    <h2>Mateo</h2>
    <h2>Mateo</h2>
    <h2>Mateo</h2>
    <%= wicked_pdf_image_tag "footer_pdf.png" %>
</div>

